In [15]:
# import kaggle

# kaggle.api.authenticate()
# kaggle.api.competition_download_files('titanic', path='.')

In [16]:
import pandas as pd

test_df = pd.read_csv(r"C:\Users\tyt36\OneDrive\Desktop\projetcs\Kaggle\Titanic - Machine Learning from Disaster\titanic\test.csv")

train_df = pd.read_csv(r"C:\Users\tyt36\OneDrive\Desktop\projetcs\Kaggle\Titanic - Machine Learning from Disaster\titanic\train.csv")

print(test_df.head(5))
print("------------------------------------------------------------------------------------------")
print("------------------------------------------------------------------------------------------")
print(train_df.head(5))

   PassengerId  Pclass                                          Name     Sex  \
0          892       3                              Kelly, Mr. James    male
1          893       3              Wilkes, Mrs. James (Ellen Needs)  female
2          894       2                     Myles, Mr. Thomas Francis    male
3          895       3                              Wirz, Mr. Albert    male
4          896       3  Hirvonen, Mrs. Alexander (Helga E Lindqvist)  female

    Age  SibSp  Parch   Ticket     Fare Cabin Embarked
0  34.5      0      0   330911   7.8292   NaN        Q
1  47.0      1      0   363272   7.0000   NaN        S
2  62.0      0      0   240276   9.6875   NaN        Q
3  27.0      0      0   315154   8.6625   NaN        S
4  22.0      1      1  3101298  12.2875   NaN        S
------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------
   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S

In [17]:
print("------------------------------------------------------------------------------------------")
print("missing values in train dataset")
print("------------------------------------------------------------------------------------------")
print(train_df.isnull().sum())

print("------------------------------------------------------------------------------------------")
print("missing values in test datset")
print("------------------------------------------------------------------------------------------")
print(test_df.isnull().sum())

------------------------------------------------------------------------------------------
missing values in train dataset
------------------------------------------------------------------------------------------
PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64
------------------------------------------------------------------------------------------
missing values in test datset
------------------------------------------------------------------------------------------
PassengerId      0
Pclass           0
Name             0
Sex              0
Age             86
SibSp            0
Parch            0
Ticket           0
Fare             1
Cabin          327
Embarked         0
dtype: int64

In [18]:
train_df['Age'].fillna(train_df['Age'].median(), inplace=True)
train_df.drop('Cabin', axis=1, inplace=True)
train_df['Embarked'].fillna(train_df['Embarked'].mode()[0], inplace=True)

test_df['Age'].fillna(train_df['Age'].median(), inplace=True)
test_df.drop('Cabin', axis=1, inplace=True)
test_df['Embarked'].fillna(train_df['Embarked'].mode()[0], inplace=True)
test_df['Fare'].fillna(test_df['Fare'].median(), inplace=True)

C:\Users\tyt36\AppData\Local\Temp\ipykernel_83172\1512623783.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  train_df['Age'].fillna(train_df['Age'].median(), inplace=True)
C:\Users\tyt36\AppData\Local\Temp\ipykernel_83172\1512623783.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  train_df['Embarked'].fillna(train_df['Embarked'].mode()[0], inplace=True)
C:\Users\tyt36\AppData\Local\Temp\ipykernel_83172\1512623783.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  test_df['Age'].fillna(train_df['Age'].median(), inplace=True)
C:\Users\tyt36\AppData\Local\Temp\ipykernel_83172\1512623783.py:7: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  test_df['Embarked'].fillna(train_df['Embarked'].mode()[0], inplace=True)
C:\Users\tyt36\AppData\Local\Temp\ipykernel_83172\1512623783.py:8: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  test_df['Fare'].fillna(test_df['Fare'].median(), inplace=True)

In [19]:
print("------------------------------------------------------------------------------------------")
print("missing values in train dataset")
print("------------------------------------------------------------------------------------------")
print(train_df.isnull().sum())

print("------------------------------------------------------------------------------------------")
print("missing values in test datset")
print("------------------------------------------------------------------------------------------")
print(test_df.isnull().sum())

------------------------------------------------------------------------------------------
missing values in train dataset
------------------------------------------------------------------------------------------
PassengerId    0
Survived       0
Pclass         0
Name           0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           0
Embarked       0
dtype: int64
------------------------------------------------------------------------------------------
missing values in test datset
------------------------------------------------------------------------------------------
PassengerId    0
Pclass         0
Name           0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           0
Embarked       0
dtype: int64

In [20]:
print(train_df.dtypes)

PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Embarked        object
dtype: object

In [21]:
print(train_df['Sex'].unique())
print(train_df['Embarked'].unique())

['male' 'female']
['S' 'C' 'Q']

In [22]:
train_df['Sex'] = train_df['Sex'].map({'male':0, 'female':1})
train_df['Embarked'] = train_df['Embarked'].map({'S':0, 'C':1, 'Q':2})

test_df['Sex'] = test_df['Sex'].map({'male':0, 'female':1})
test_df['Embarked'] = test_df['Embarked'].map({'S':0, 'C':1, 'Q':2})

In [23]:
train_df.drop(['PassengerId', 'Name', 'Ticket', ], axis=1, inplace=True)
test_df.drop(['Name', 'Ticket'], axis=1, inplace=True)

In [24]:
from sklearn.model_selection import train_test_split

X = train_df.drop('Survived', axis=1)
y = train_df['Survived']

X_train, X_val, y_train, y_val = train_test_split(X, y, test_size=0.3, random_state=42)

In [25]:
from xgboost import XGBClassifier
from sklearn.linear_model import LogisticRegression
model = XGBClassifier()
model.fit(X_train, y_train)
val_preds = model.predict(X_val)

model1 = LogisticRegression()
model1.fit(X_train, y_train)
val_preds1 = model1.predict(X_val)

C:\Users\tyt36\AppData\Roaming\Python\Python312\site-packages\sklearn\linear_model\_logistic.py:470: ConvergenceWarning: lbfgs failed to converge after 100 iteration(s) (status=1):
STOP: TOTAL NO. OF ITERATIONS REACHED LIMIT

Increase the number of iterations to improve the convergence (max_iter=100).
You might also want to scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

In [26]:
from sklearn.metrics import accuracy_score, f1_score, roc_auc_score

print("XGBoost Classifier:")
print("  Accuracy:", accuracy_score(y_val, val_preds))
print("  F1 Score:", f1_score(y_val, val_preds))
print("  ROC AUC:", roc_auc_score(y_val, val_preds))

print("\nLogistic Regression:")
print("  Accuracy:", accuracy_score(y_val, val_preds1))
print("  F1 Score:", f1_score(y_val, val_preds1))
print("  ROC AUC:", roc_auc_score(y_val, val_preds1))

XGBoost Classifier:
  Accuracy: 0.7835820895522388
  F1 Score: 0.7289719626168224
  ROC AUC: 0.7717335169564469

Logistic Regression:
  Accuracy: 0.8059701492537313
  F1 Score: 0.7547169811320755
  ROC AUC: 0.7934813794686406

In [27]:
X_test = test_df.drop('PassengerId', axis=1)

predictions = model.predict(X_test)
predictions1 = model1.predict(X_test)

In [ ]:
submission = pd.DataFrame({
    'PassengerId': test_df['PassengerId'],  # add PassengerId back for Kaggle
    'Survived': predictions1
})
submission.to_csv('submission.csv', index=False)